{% extends "physical/base.html" %}
{% block content %}

<p>Hello, and Welcome!</p>
<p>This app is a project initiated by the Kent School of Social Work at the University of Louisville.it was created by groups of Computer Science and Engineering students from Speed School of Engineering.&nbsp;</p>
<p>Pandemics can lead to increases in anxiety, depression, trauma, and obsessive-compulsive and other mental health symptoms.Quarantine can have significant negative impacts on couple and parent-child relationships, as well as leading to feelings of social isolation/loneliness.Mental health issues have been identified as the emerging pandemic in response to COVID 19. For those reasons, this App wants to address those problems.&nbsp;</p>
<p>Purpose:</p>
<ul>
<li>To provide Students and Faculty a way to monitor and improve their Cognitive, Physical, Psychological, and Social needs</li>
<li>Educate Students and Faculty about the importance of staying healthy physically, psychologically, socially, and cognitively.</li>
</ul>
<p>Note*: This app is under development.</p>

 <a href="/login">Login Now!</a>
 <a href="/register">Don't have an account, register now!</a> 

{% endblock content %}