{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type = "text/css" href={% static 'physical/main.css' %}>

    <link rel="stylesheet" href={% static 'physical/gratitude-tracker.css' %}>


    {% if title %}
        <title>Physical Health - {{ title }}</title>
    {% else %}
        <title>Physical Health</title>
    {% endif %}
    
  </head>
  
  <body>
    <header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Coping With Covid Webapp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Physical
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/physical">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/physical/sleep">Sleep</a>
              <a class="dropdown-item" href="/physical/exercise">Exercise</a>
              <a class="dropdown-item" href="/physical/CovidVaccine">Covid Vaccine</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cognitive
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Home</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Psychological
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Home</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Social
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Home</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Communication</a>
            </div>
          </li>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/login">Login</a>
          <a class="nav-item nav-link" href="/register">Register</a>
        </div>
      </div>
    </div>
  </nav>
</header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-10">
          {% if messages %}
          {% for message in messages %}
          <div class='alert alert-{{ message.tag }}'>
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          <div class='content-section'>
          {% block content  %}{% endblock %}
        </div>
        </div>
      </div>
       <div id="gratitude-tracker" class="my-list">
        <em id="gratitude-tracker-name">
          Gratitude Tracker!
        </em>
        <ul id="gratitude-tracker-storage"></ul>
        <input type="text" id="gratitude-tracker-text-input">
        <button type="button" class="btn btn-primary" onclick="addGratitudeElement()">Add</button>
      </div>

      <script src={% static 'physical/gratitude-tracker.js' %}></script>
    </main>
    <div class="page-prefooter">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h4>About</h4>
                <p> Insert Text </p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs12 footer-block">
                    <h4>Privacy Policy</h4>
                    <div class="smalltext">
                        Insert text here
                    </div>
            </div>
        </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
