{% extends "physical/base.html" %}
{% block content %}
<h1>Covid Vaccine</h1>
<h2>CDC Vaccine Rollot Recommendations</h2>
<p>The Centers for Disease Control and Prevention (CDC) has recommened the following phases for vaccine distribution:</p>
<ul>
  <li>Phase 1A: </li>
  <ul>
  	<li>Healthcare Personnel</li>
  	<li>Long-term Care Facility Residents</li>
    <li>Recommended on December 3, 2020</li>
   </ul>
  <li>Phase 1B: </li>
  <ul>
  	<li>Frontline essential workers</li>
  	<li>People aged 75 years and older</li>
    <li>Recommended on December 22, 2020</li>
   </ul>
  <li>Phase 1C:</li>
  <ul>
  	<li>People aged 65-74 years</li>
  	<li>People aged 16-64 years with underlying medical conditions</li>
    <li>Recommended on December 22, 2020</li>
   </ul>
</ul>
<p>Some U.S states have recognized the following phases and began vaccine distributions based on these phases. These phases have not been recommended by the CDC.For more information please visit <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/keythingstoknow.html">cdc.gov</a></p>
<ul>
  <li>Phase 2: </li>
  <ul>
  	<li>People aged 40 years and older</li>
   </ul>
  <li>Phase 3: </li>
  <ul>
  	<li>People aged 16 years and older</li>
   </ul>
</ul>
<p>Please check with your State of residence to determine your eligibiity for the COVID-19 Vaccine.</p>
<h2>COVID-19 Vaccine Tracker</h2>
<p>(COMING SOON) CVS Health has a Covid-19 Vaccine Availability API that provides a near real-time status of COVID-19 Vaccine inventory at CVS stores based on state and city. We are currently awaiting approval to have access to the API. 
{% endblock content %}
