{% extends "physical/base.html" %}
{% block content %}
<h1>Exercise</h1>
<p>Exercising at a moderate intensity, such as taking brisk walks, for 150 minutes or more a week can have tremendous benefits on your physical and mental health. Some of these benefits include:</p>
<ul>
  <li>Reduce risk of cardiovascular disease, type 2 diabetes, and some cancers</li>
  <li>Reduce risk and manage symptoms of anxiety and depression</li>
  <li>Manage weight</li>
  <li>Fall asleep quicker and stay asleep longer</li>
  <li>Improve sexual health</li>
  <li>Strengthen bones and muscles</li>
</ul>
<h2>Exercise Tracker</h2>
<p>Track your exercise routine with our Exercise Tracker. (COMING SOON)</p>
{% endblock content %}