{% extends "physical/base.html" %}
{% block content %}
<h1>Physical Health</h1>
<p>Physical Health is related to one's body and how one is taking care of it. It can have a variety of impacts:</p>
<ul>
  <li>Decrease risk of diseases</li>
  <li>Feel great</li>
  <li>Look better</li>
  <li>Sleep better</li>
  <li>Live longer—up to five years according to the American Journal of Preventative Medicine!</li>
  <li>Avoid injury</li>
  <li>Increase mental health and social wellbeing</li>
</ul>
<p><br><b>Fact: </b>According to studies in the Lancet physical activity brings “a sense of purpose and value, a better quality of life, improved sleep, and reduced stress, as well as stronger relationships and social connectedness."</p>
<p></p>
{% endblock content %}