{% extends "physical/base.html" %}
{% block content %}
<h1>Sleep Hygiene</h1>
<p>A good nights rest can improve symptoms of anxiety and depression, and can increase general cognitive ability. Practicing proper sleep hygiene (also known as sleep habits) can vastly improve the quality of sleep you receive, leading to a better, more restful night's sleep.  Some habits you can practice to improve your sleep include:</p>
<ul>
  <li>Stress management</li>
  <li>Exercise regularly</li>
  <li>Avoid large meals, caffeine, and alcohol close to bedtime</li>
  <li>Avoid nicotine consumption</li>
  <li>Sleep in a dark, quiet, and relaxing environment</li>
  <li>Keep your sleeping environment at a comfortable temperature</li>
  <li>Remove electronics from your sleeping environment</li>
</ul>
{% endblock content %}